In [1]:
import pandas as pd
path1 = "./exercise_data/chipotle.tsv"
chipo = pd.read_csv(path1,sep='\t')

chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
chipo.shape[0] # 查看多少行  shape[1] 查看多少列

4622

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [13]:
chipo[['item_name','quantity']].groupby(['item_name'], as_index=False).describe()

   quantity
      count      mean       std  min  25%  50%  75%   max
0      54.0  1.018519  0.136083  1.0  1.0  1.0  1.0   2.0
1      66.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
2      91.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
3      11.0  1.090909  0.301511  1.0  1.0  1.0  1.0   2.0
4      10.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
5      25.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
6     162.0  1.302469  1.034135  1.0  1.0  1.0  1.0  10.0
7       2.0  2.000000  1.414214  1.0  1.5  2.0  2.5   3.0
8       6.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
9     104.0  1.211538  0.476090  1.0  1.0  1.0  1.0   4.0
10    301.0  1.166113  0.495629  1.0  1.0  1.0  1.0   4.0
11     68.0  1.044118  0.269539  1.0  1.0  1.0  1.0   3.0
12     59.0  1.016949  0.130189  1.0  1.0  1.0  1.0   2.0
13      7.0  1.142857  0.377964  1.0  1.0  1.0  1.0   2.0
14      1.0  1.000000       NaN  1.0  1.0  1.0  1.0   1.0
15      6.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
16     40.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
17    726.0  1.048209  0.226861  1.0  1.0  1.0  1.0   3.0
18    553.0  1.068716  0.305116  1.0  1.0  1.0  1.0   4.0
19     47.0  1.063830  0.247092  1.0  1.0  1.0  1.0   2.0
20      9.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
21    110.0  1.118182  0.324301  1.0  1.0  1.0  1.0   2.0
22    115.0  1.043478  0.204824  1.0  1.0  1.0  1.0   2.0
23    211.0  1.090047  0.303072  1.0  1.0  1.0  1.0   3.0
24    110.0  1.181818  1.369268  1.0  1.0  1.0  1.0  15.0
25    479.0  1.056367  0.264647  1.0  1.0  1.0  1.0   4.0
26      1.0  1.000000       NaN  1.0  1.0  1.0  1.0   1.0
27     22.0  1.045455  0.213201  1.0  1.0  1.0  1.0   2.0
28     18.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
29     43.0  1.046512  0.213083  1.0  1.0  1.0  1.0   2.0
30     48.0  1.041667  0.201941  1.0  1.0  1.0  1.0   2.0
31     31.0  1.064516  0.249731  1.0  1.0  1.0  1.0   2.0
32     20.0  1.250000  0.638666  1.0  1.0  1.0  1.0   3.0
33      2.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
34     20.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
35     27.0  1.074074  0.266880  1.0  1.0  1.0  1.0   2.0
36      2.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
37    101.0  1.089109  0.722482  1.0  1.0  1.0  1.0   8.0
38    211.0  1.047393  0.234278  1.0  1.0  1.0  1.0   3.0
39    368.0  1.048913  0.239889  1.0  1.0  1.0  1.0   3.0
40     35.0  1.028571  0.169031  1.0  1.0  1.0  1.0   2.0
41      4.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
42     29.0  1.068966  0.257881  1.0  1.0  1.0  1.0   2.0
43     55.0  1.018182  0.134840  1.0  1.0  1.0  1.0   2.0
44     85.0  1.023529  0.152477  1.0  1.0  1.0  1.0   2.0
45     95.0  1.021053  0.205196  1.0  1.0  1.0  1.0   3.0
46      1.0  1.000000       NaN  1.0  1.0  1.0  1.0   1.0
47      6.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
48     18.0  1.000000  0.000000  1.0  1.0  1.0  1.0   1.0
49      7.0  1.142857  0.377964  1.0  1.0  1.0  1.0   2.0

In [16]:
path2 = "./exercise_data/Euro2012_stats.csv"
euro12 = pd.read_csv(path2)
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [17]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [19]:
euro12.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [20]:
euro12.shape[0]

16

In [26]:
dis = euro12[['Team', 'Yellow Cards', 'Red Cards']]
dis["Yellow Cards"].mean()

7.4375

In [32]:

df4 = pd.DataFrame({'Country':['China','China', 'India', 'India', 'America', 'Japan', 'China', 'India'], 
                   'Income':[10000, 10000, 5000, 5002, 40000, 50000, 8000, 5000],
                    'Age':[5000, 4321, 1234, 4010, 250, 250, 4500, 4321]})
df4

    Age  Country  Income
0  5000    China   10000
1  4321    China   10000
2  1234    India    5000
3  4010    India    5002
4   250  America   40000
5   250    Japan   50000
6  4500    China    8000
7  4321    India    5000

In [40]:

df4.groupby(['Country']).agg(['min','mean','max'])

          Age                    Income
          min         mean   max    min          mean    max
Country
America   250   250.000000   250  40000  40000.000000  40000
China    4321  4607.000000  5000   8000   9333.333333  10000
India    1234  3188.333333  4321   5000   5000.666667   5002
Japan     250   250.000000   250  50000  50000.000000  50000

In [39]:
num_agg = {'Age':['min', 'mean', 'max'], 'Income':['min', 'max']}
df4.groupby('Country').agg(num_agg)

          Age                    Income
          min         mean   max    min    max
Country
America   250   250.000000   250  40000  40000
China    4321  4607.000000  5000   8000  10000
India    1234  3188.333333  4321   5000   5002
Japan     250   250.000000   250  50000  50000

In [44]:
# 运行以下代码
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

# 运行以下代码
data1 = pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name'])
data3 = pd.DataFrame(raw_data_3, columns = ['subject_id','test_id'])
data1

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

In [42]:
all_data = pd.concat([data1, data2])
all_data

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
0          4      Billy    Bonder
1          5      Brian     Black
2          6       Bran   Balwner
3          7      Bryce     Brice
4          8      Betty    Btisan

In [43]:
pd.merge(all_data, data3, on='subject_id')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

In [48]:
path6 = "./exercise_data/wind.data"
import datetime
# 将数据作存储并且设置前三列为合适的索引
data = pd.read_table(path6, sep='\s+',parse_dates=[[0,1,2]])
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,2061-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,2061-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,2061-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,2061-01-09,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,2061-01-10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83
10,2061-01-11,10.58,9.87,8.42,2.79,8.71,7.25,7.54,8.33,5.71,8.67,20.71,16.92
11,2061-01-12,19.75,12.08,18.50,10.54,10.29,9.46,15.54,11.50,10.37,14.58,15.59,14.09
12,2061-01-13,9.92,3.54,8.46,2.96,2.29,0.96,4.63,0.58,2.33,3.37,5.25,7.04
13,2061-01-14,9.04,5.66,7.08,0.67,2.71,1.38,3.08,2.58,0.50,2.67,7.17,5.17
14,2061-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
15,2061-01-16,16.42,11.25,15.67,4.71,11.34,6.92,9.25,8.79,8.21,7.33,13.04,9.04
16,2061-01-17,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08
17,2061-01-18,19.83,12.04,20.79,18.54,NaN,10.29,17.83,11.38,14.67,16.71,8.79,17.96
18,2061-01-19,4.92,3.42,7.29,1.04,3.67,3.17,3.71,2.79,1.92,2.71,6.87,7.83
19,2061-01-20,9.59,11.83,7.96,1.58,7.92,5.00,3.17,4.92,3.13,3.37,6.50,6.79
20,2061-01-21,14.33,10.25,11.92,6.13,10.04,7.67,8.04,9.17,7.04,7.87,6.75,12.42
21,2061-01-22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
22,2061-01-23,16.54,9.96,18.54,10.46,13.50,12.67,13.70,13.75,10.75,13.17,14.79,20.58
23,2061-01-24,25.04,14.83,25.84,15.67,21.46,18.58,20.38,19.38,15.37,15.12,23.09,25.25
24,2061-01-25,13.62,11.17,12.67,6.04,10.00,9.42,9.25,8.71,7.12,12.04,14.04,17.50
25,2061-01-26,24.37,18.79,17.50,14.25,18.91,15.67,14.33,15.16,16.08,19.08,20.50,25.25
26,2061-01-27,22.04,20.79,17.41,16.21,19.04,16.13,16.79,18.29,18.66,19.08,26.08,27.63
27,2061-01-28,17.67,13.54,13.33,8.87,15.04,11.63,12.25,10.58,11.92,11.04,20.30,18.12
28,2061-01-29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
29,2061-01-30,12.21,11.42,10.92,7.92,13.08,9.62,14.50,10.21,9.92,11.96,18.88,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,1978-12-02,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
6545,1978-12-03,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
6546,1978-12-04,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
6547,1978-12-05,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
6548,1978-12-06,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
6549,1978-12-07,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
6550,1978-12-08,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
6551,1978-12-09,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
6552,1978-12-10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
6553,1978-12-11,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
6554,1978-12-12,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
6555,1978-12-13,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
6556,1978-12-14,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
6557,1978-12-15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
6558,1978-12-16,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
6559,1978-12-17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
6560,1978-12-18,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
6561,1978-12-19,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
6562,1978-12-20,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
6563,1978-12-21,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
6564,1978-12-22,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
6565,1978-12-23,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
6566,1978-12-24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
6567,1978-12-25,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
6568,1978-12-26,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [51]:
import datetime

def fix_century(x):
    year = x.year - 100 if x.year > 1987 else x.year
    return datetime.date(year, x.month,x.day)
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [53]:
# 将日期设置为索引
data['Yr_Mo_Dy'] = pd.to_datetime(data['Yr_Mo_Dy'])
data = data.set_index('Yr_Mo_Dy')
data

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
1961-01-06,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
1961-01-07,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
1961-01-08,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
1961-01-09,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
1961-01-10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83
1961-01-11,10.58,9.87,8.42,2.79,8.71,7.25,7.54,8.33,5.71,8.67,20.71,16.92
1961-01-12,19.75,12.08,18.50,10.54,10.29,9.46,15.54,11.50,10.37,14.58,15.59,14.09
1961-01-13,9.92,3.54,8.46,2.96,2.29,0.96,4.63,0.58,2.33,3.37,5.25,7.04
1961-01-14,9.04,5.66,7.08,0.67,2.71,1.38,3.08,2.58,0.50,2.67,7.17,5.17
1961-01-15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
1961-01-16,16.42,11.25,15.67,4.71,11.34,6.92,9.25,8.79,8.21,7.33,13.04,9.04
1961-01-17,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08
1961-01-18,19.83,12.04,20.79,18.54,NaN,10.29,17.83,11.38,14.67,16.71,8.79,17.96
1961-01-19,4.92,3.42,7.29,1.04,3.67,3.17,3.71,2.79,1.92,2.71,6.87,7.83
1961-01-20,9.59,11.83,7.96,1.58,7.92,5.00,3.17,4.92,3.13,3.37,6.50,6.79
1961-01-21,14.33,10.25,11.92,6.13,10.04,7.67,8.04,9.17,7.04,7.87,6.75,12.42
1961-01-22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
1961-01-23,16.54,9.96,18.54,10.46,13.50,12.67,13.70,13.75,10.75,13.17,14.79,20.58
1961-01-24,25.04,14.83,25.84,15.67,21.46,18.58,20.38,19.38,15.37,15.12,23.09,25.25
1961-01-25,13.62,11.17,12.67,6.04,10.00,9.42,9.25,8.71,7.12,12.04,14.04,17.50
1961-01-26,24.37,18.79,17.50,14.25,18.91,15.67,14.33,15.16,16.08,19.08,20.50,25.25
1961-01-27,22.04,20.79,17.41,16.21,19.04,16.13,16.79,18.29,18.66,19.08,26.08,27.63
1961-01-28,17.67,13.54,13.33,8.87,15.04,11.63,12.25,10.58,11.92,11.04,20.30,18.12
1961-01-29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
1961-01-30,12.21,11.42,10.92,7.92,13.08,9.62,14.50,10.21,9.92,11.96,18.88,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-02,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
1978-12-03,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
1978-12-04,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
1978-12-05,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
1978-12-06,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
1978-12-07,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
1978-12-08,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
1978-12-09,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
1978-12-10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
1978-12-11,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
1978-12-12,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
1978-12-13,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
1978-12-14,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
1978-12-15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
1978-12-16,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
1978-12-17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
1978-12-18,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
1978-12-19,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
1978-12-20,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
1978-12-21,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
1978-12-22,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
1978-12-23,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
1978-12-24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
1978-12-25,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
1978-12-26,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [54]:
# 对于每个location 一共有多少数据缺失-- 这里以列为单位计算
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [61]:
# 对应每一个location，一共有多少完整的数据值  真的很神奇，shape[0]返回的是行数值，减法后竟然是统计列表

data.shape[0] - data.isnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [67]:
data.min() # 先求列的平均值，再此基础上计算平均

RPT    0.67
VAL    0.21
ROS    1.50
KIL    0.00
SHA    0.13
BIR    0.00
DUB    0.00
CLA    0.00
MUL    0.00
CLO    0.04
BEL    0.13
MAL    0.67
dtype: float64

In [65]:
# 创建一个名为loc_stats的数据框去计算并存储每个location的风速最小值，最大值，平均值和标准差
loc_stats = pd.DataFrame()

loc_stats['min'] = data.min() # min
loc_stats['max'] = data.max() # max 
loc_stats['mean'] = data.mean() # mean
loc_stats['std'] = data.std() # standard deviations

loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

In [68]:
data.min(axis = 1) # 以行为单位计算每一行的最小值

Yr_Mo_Dy
1961-01-01     9.29
1961-01-02     6.50
1961-01-03     6.17
1961-01-04     1.79
1961-01-05     6.17
1961-01-06     4.42
1961-01-07     4.96
1961-01-08     5.91
1961-01-09     4.75
1961-01-10     6.54
1961-01-11     2.79
1961-01-12     9.46
1961-01-13     0.58
1961-01-14     0.50
1961-01-15     2.37
1961-01-16     4.71
1961-01-17     8.71
1961-01-18     8.79
1961-01-19     1.04
1961-01-20     1.58
1961-01-21     6.13
1961-01-22     2.17
1961-01-23     9.96
1961-01-24    14.83
1961-01-25     6.04
1961-01-26    14.25
1961-01-27    16.13
1961-01-28     8.87
1961-01-29    17.54
1961-01-30     7.92
              ...
1978-12-02     5.13
1978-12-03    11.58
1978-12-04     1.71
1978-12-05     8.50
1978-12-06    16.04
1978-12-07    18.16
1978-12-08     3.37
1978-12-09     6.04
1978-12-10    13.00
1978-12-11    11.63
1978-12-12     8.29
1978-12-13     8.33
1978-12-14     3.37
1978-12-15     4.00
1978-12-16     2.46
1978-12-17     0.54
1978-12-18     1.00
1978-12-19     2.33
1978-12-20     0.42
1978-12-21     3.83
1978-12-22     2.46
1978-12-23     9.50
1978-12-24     4.79
1978-12-25     0.75
1978-12-26     1.96
1978-12-27     8.08
1978-12-28     5.00
1978-12-29     8.71
1978-12-30     9.13
1978-12-31     9.59
Length: 6574, dtype: float64